body{
    background-color: #0652DD;
    font-size: 16px;
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 20px;
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 70px;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
    color: black;

}

nav li a{
    text-decoration: none;
}

/* .nav li:hover{
    color: yellow;
} */

nav li{
    list-style-type: none;
    padding: 15px;
}

.logo{
    /* width: 15px;
    height: 15px; */
    padding-left: 10px;
    padding-top: 6px;
}

.big-image-section{
    background-color: #0652DD;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.check-out-button{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    border: none;
}

.check-out-button:hover{
    cursor: pointer;
    background-color: #ffd32a;
    color: #0652DD;
    font-weight: bold;
}

.big-image{
    margin-top: 60px;
    /* width: 550px;
    height: 500px; */
}

.blog-articles{
background-color: #d2dae2;
display: flex;
justify-content: space-around;
}

.blog-1 {
    background-color: white;
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 80px;
    padding: 40px;
}

.blog-2{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 80px;
    background-color: white;
    margin-left: 20px;
    padding:40px;
}

.blog-articles a{
    text-decoration: none;
}

.courses{
    background-color: white;
    padding:40px;
    padding-top: 130px;
    padding-bottom: 100px;
}

.courses-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-of-courses{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.course-1{
    background-color:#0652DD;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px; 
    margin-right: 30px;   
}

.course-2{
    background-color:white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px; 
    margin-right: 30px;   

}

.start-now-button-1{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    border: 1px solid white;
    background-color: #0652DD;
    color: white;
}

.start-now-button-1:hover{
    background-color: white;
    color:#0652DD;
    cursor: pointer;
}

.start-now-button-2{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    border: 1px solid black;
}

.start-now-button-2:hover{
    background-color:#0652DD;
    color:white;
    cursor: pointer;
}

.description{
    background-color: #d2dae2;
    display: flex;
    justify-content: space-around;
}

.students h4{
    color:blue;
}

.description-1{
 background-color:#0652DD;
 color: white;
 margin-right: 30px;
 margin-left: 100px;
 padding: 20px;
 margin-top: 100px;
 margin-bottom: 100px;
}

.student-1{
    background-color: white;
    padding: 10px;
    margin-top: 60px;
}

.student-2{
    background-color: white;
    padding: 10px;
    margin-bottom: 60px;

}

.description-2{
    background-color:#a4b0be;
}

.description-2 span{
    background-color:#0652DD;
}

.text{
    background-color:#0652DD;
}

footer{
    background-color: #d2dae2;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.container {
    position: relative;
  }
  
  .vertical-line {
    position: absolute;
    left: 10px; 
    top: 20px; 
    width: 2px;
    height: 200px;
    background-color: black;
  }

  .contact-us{
    color: white;
  }

  .subscribeButton {
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
}
