body{
    background-color: #0984e3;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
}

nav li a{
    text-decoration: none;
}

nav li{
    list-style-type: none;
    padding: 15px;
}

/* .logo{
    width: 15px;
    height: 15px;
} */